<a href="https://colab.research.google.com/github/Dhaval63/Machine-Learning-Movie-recommeded-system/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy  as np

In [ ]:
car=pd.read_csv("/content/drive/MyDrive/quikr_car.csv")

In [ ]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [ ]:
car.shape

(892, 6)

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [ ]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [ ]:
car = car[car['year'].str.isnumeric()]

In [ ]:
car['year'] = car['year'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
car = car[car['Price']!="Ask For Price"]

In [ ]:
car['Price'] = car['Price'].str.replace(",","").astype(int)

In [ ]:
car['Price']

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: int64

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [ ]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [ ]:
car = car[car['kms_driven'].str.isnumeric()]

In [ ]:
car['kms_driven'] = car['kms_driven'].astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
car=car[~car['fuel_type'].isna()]

In [ ]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [ ]:
car.reset_index(drop = True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [ ]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int64
 3   Price       816 non-null    int64
 4   kms_driven  816 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.6+ KB

In [ ]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [ ]:
car = car[car['Price']<6e6].reset_index(drop=True)

In [ ]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [ ]:
car.to_csv('clean_car.csv')

In [ ]:
X= car.drop(columns='Price')
y= car['Price']

In [ ]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
811          Tata Indica V2      Tata  2009       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009      132000    Petrol
813            Tata Zest XM      Tata  2018       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [ ]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [ ]:
ohe = OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [ ]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Ford Ikon 1.6',
        'Hindustan Motors Ambassador', 'Honda Accord', 'Honda Amaze',
        'Honda Amaze 1.2', 'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V',
        'Honda Brio VX', 'Honda City', 'Honda City 1.5', 'Honda City SV',
        'Honda City VX', 'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX',
        'Honda Mobilio', 'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro', 'Hyundai Santro AE',
        'Hyundai Santro Xing', 'Hyundai Sonata Transform', 'Hyundai Verna',
        'Hyundai Verna 1.4', 'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki 800',
        'Maruti Suzuki A', 'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Maruti',
        'Maruti Suzuki Omni', 'Maruti Suzuki Ritz', 'Maruti Suzuki S',
        'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Nano', 'Tata Nano Cx', 'Tata Nano GenX', 'Tata Nano LX',
        'Tata Nano Lx', 'Tata Sumo Gold', 'Tata Sumo Grande',
        'Tata Sumo Victa', 'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder = 'passthrough')

In [ ]:
lr = LinearRegression()

In [ ]:
pipe=make_pipeline(column_trans,lr)

In [ ]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [ ]:
y_pre = pipe.predict(X_test)
import numpy as np

In [ ]:
r2_score(y_test,y_pre)

0.5205504953723004

In [ ]:
# np.isnan(car.any()) #and gets False
# np.isfinite(car.all()) #and gets True

In [ ]:
scores=[]
for i in range(1000):
 X_train,X_test,y_train,y_test=train_test = train_test_split(X,y,test_size=0.2)
 lr = LinearRegression()
 pipe=make_pipeline(column_trans,lr)
 pipe.fit(X_train,y_train)
 y_pre = pipe.predict(X_test)
 print(r2_score(y_test,y_pre), i)
 scores.append(r2_score(y_test,y_pre))

0.554207048302903 0
0.7577795654690173 1
0.7397395201595838 2
0.6918250811226088 3
0.4638359670219442 4
0.8214249911122412 5
0.7690894035393295 6
0.7937259227275106 7
0.8288024959138973 8
0.6286266979751346 9
0.70465736182296 10
0.5880254919926345 11
0.6253942906777528 12
0.7659880750735151 13
0.7803820725639334 14
0.7230323061234296 15
0.7381185845479303 16
0.7182436200985389 17
0.7649110269029358 18
0.6332369744063295 19
0.6726338498783028 20
0.7411900202819857 21
0.854390185497194 22
0.6215799242690081 23
0.6379485265832217 24
0.7374869677280428 25
0.6457486205121107 26
0.6118171279311242 27
0.5797445092031737 28
0.6498449237307249 29
0.7198130160545888 30
0.7645896846315793 31
0.7453506961678977 32
0.6566629924689832 33
0.7662435877932878 34
0.632330472035879 35
0.6294808697833946 36
0.6941203075108203 37
0.7071335382976298 38
0.7920081280373262 39
0.7402834359610635 40
0.7407786352616972 41
0.7070500921455853 42
0.6791305905593661 43
0.4848652553781757 44
0.6934421872729228 45
0.6401152884949459 46
0.6771310337483972 47
0.5766646790776473 48
0.6216634305807835 49
0.5594727006298602 50
0.7895607235569052 51
0.6378157969580572 52
0.5875367003282551 53
0.5261444151211081 54
0.7980591240570943 55
0.7143537315799373 56
0.6040126836662507 57
0.6880799706703037 58
0.73850770172408 59
0.4898929552573742 60
0.5834022799903484 61
0.6008959282918083 62
0.7555857789425798 63
0.6783483683741268 64
0.6720046469270392 65
0.6995669084846745 66
0.6731680119981601 67
0.7739890771782819 68
0.5969004143730039 69
0.6788903439939443 70
0.7676353446578983 71
0.8089523204768722 72
0.6976434538061488 73
0.6980438208360356 74
0.556109014611371 75
0.826790365523014 76
0.8183918616317633 77
0.6645180491710128 78
0.7719890107104307 79
0.7613327127124709 80
0.5912596596031556 81
0.8190264642466971 82
0.7286611546910466 83
0.7834077324831358 84
0.8648575211443497 85
0.781500389025765 86
0.70337366230959 87
0.7039339888420737 88
0.6500814092206659 89
0.7343670117822501 90
0.6370367395007521 91
0.6050002449550956 92
0.6776639582788133 93
0.7070174433739778 94
0.6392275683357489 95
0.6802159442623554 96
0.7454985899199079 97
0.6491485948133728 98
0.7671226110213452 99
0.5745659596072032 100
0.7523964219841267 101
0.7499522078379897 102
0.5839078649647551 103
0.7451581200766482 104
0.8364935625931009 105
0.7706735272035109 106
0.7258732329908515 107
0.7248359371774054 108
0.7137645789413758 109
0.48527102932072474 110
0.5582416722900458 111
0.677300216120194 112
0.78238697857321 113
0.7250318465653036 114
0.7874040151247699 115
0.6078676636445683 116
0.7404978260479287 117
0.7576628389363489 118
0.7599094107261857 119
0.8409626622542299 120
0.8229963330456269 121
0.7436820544436609 122
0.7055679877757309 123
0.8569395652950564 124
0.7550998471901988 125
0.786111195723435 126
0.5674618736036565 127
0.7871944469623532 128
0.5477849024798148 129
0.6483350950932014 130
0.6343216187425869 131
0.7582550800378846 132
0.7621700650883303 133
0.7498163125977438 134
0.6609734761815426 135
0.836942056545764 136
0.5052071258060001 137
0.7121160656066556 138
0.8035742705403562 139
0.7600715256634067 140
0.7460296041484429 141
0.6021357939088705 142
0.6515214971486187 143
0.5568053809238607 144
0.7838531135215528 145
0.5678890585703598 146
0.6359194885796137 147
0.8083529589481349 148
0.718253776464677 149
0.7073423319857359 150
0.7060275032562733 151
0.7507594826484331 152
0.6473389956064414 153
0.6921542976154913 154
0.7192535448625101 155
0.7613133642320601 156
0.6878684134525606 157
0.6817819611131273 158
0.5481964561546986 159
0.8079519464102068 160
0.7158805846261562 161
0.6316155489300436 162
0.5625998185516449 163
0.566437440847863 164
0.6138629066788001 165
0.6163933534362261 166
0.7975184511833042 167
0.7790848877364985 168
0.6940112541982641 169
0.5193278364308728 170
0.6425565732206275 171
0.7519735122363291 172
0.6753512434962243 173
0.786079628450837 174
0.5686476989191007 175
0.7942357238470661 176
0.6924154149667693 177
0.6995423189194798 178
0.6216807127221393 179
0.6637583171470312 180
0.620841026078689 181
0.5769990185956665 182
0.7199712936069458 183
0.6933032434404964 184
0.6643086372919222 185
0.6111079699858301 186
0.7145777588684006 187
0.7921573830471302 188
0.7432148794406079 189
0.6826377032195496 190
0.7930265319731817 191
0.6487216498685549 192
0.6520467264508822 193
0.7519940597271885 194
0.39093288144429383 195
0.7335159927201722 196
0.7389708376418632 197
0.8179138258295822 198
0.728824826957928 199
0.41707866153502615 200
0.755184795571035 201
0.7162859748173276 202
0.7464529431791804 203
0.7801333095174865 204
0.6851602528192646 205
0.8048985832157357 206
0.8501398537630454 207
0.6550693781162269 208
0.6245398444216519 209
0.7218876499249114 210
0.6904594422968675 211
0.6837785698763184 212
0.640015509897972 213
0.7270700773511847 214
0.708923399613981 215
0.6282451882177023 216
0.6784856212144628 217
0.7719004291325826 218
0.6570245826034427 219
0.5875601073923833 220
0.7673986363168863 221
0.7107997327288065 222
0.697920208674911 223
0.7817532857823636 224
0.7284848419812644 225
0.6159185593500469 226
0.5593531348267592 227
0.7445804334428179 228
0.7551538039908714 229
0.546143128010655 230
0.5666045119300072 231
0.7865302534568662 232
0.5289139798440008 233
0.6595099449239246 234
0.6707688133057756 235
0.52249720283919 236
0.7440334717687449 237
0.5312988485843504 238
0.7169783431303709 239
0.7221759255274757 240
0.6117439128415446 241
0.779693868763546 242
0.539414356067216 243
0.8363146638683991 244
0.553819402157562 245
0.7810974242243105 246
0.44347743258920513 247
0.8108470095333645 248
0.58753031766049 249
0.5967072338912588 250
0.7518902047457382 251
0.5944257182381825 252
0.8108655547282139 253
0.8379750675642057 254
0.6855142685659954 255
0.7138339102079237 256
0.6353353626992659 257
0.7799318305561895 258
0.6857165726099937 259
0.5928167449059796 260
0.6658828347528656 261
0.4894478926035164 262
0.7554734009560229 263
0.5897512053095451 264
0.7122544127562281 265
0.5381562513223577 266
0.6683405546428576 267
0.61811775832692 268
0.6470427725832787 269
0.6496738045462989 270
0.8225394944129445 271
0.7458119626736188 272
0.7809554848259168 273
0.7858840237742644 274
0.7872245513200904 275
0.5905167694506623 276
0.7249561485790146 277
0.6331518544078214 278
0.6795873543805202 279
0.7164566284198954 280
0.7299959226692045 281
0.537677057443159 282
0.6784123881502764 283
0.5975235395628256 284
0.6266070944681064 285
0.5849177521811708 286
0.7131586798075158 287
0.5409502485782987 288
0.7952215783924629 289
0.6129140954226902 290
0.6488412339754708 291
0.7650810060588087 292
0.5925692921368246 293
0.7276311234631327 294
0.7285987701015686 295
0.7760327832652814 296
0.8266054862374905 297
0.8128179098676214 298
0.7605344734399503 299
0.6385437958036093 300
0.7632118618863608 301
0.7679693859330851 302
0.6788736152633825 303
0.6497656504936824 304
0.5975652876969952 305
0.6529362233122908 306
0.778381761838681 307
0.6146824438022227 308
0.6602354511324189 309
0.7061395070014855 310
0.7272357675504834 311
0.6854920102575761 312
0.5385684036152592 313
0.6568262250414819 314
0.6066406394622765 315
0.7653886489116104 316
0.5724735930492979 317
0.7463801008953481 318
0.6935855303899388 319
0.8047812517965455 320
0.7618213169167676 321
0.6396908271345509 322
0.7780298657312571 323
0.8007026463307677 324
0.5415625566510666 325
0.5273502151175906 326
0.7786236595961992 327
0.5165061712937986 328
0.617846351973465 329
0.7712395999191328 330
0.7312145006665643 331
0.6855031690525344 332
0.7560218843943418 333
0.7052554119877774 334
0.72010010427958 335
0.7452666506706338 336
0.5842601651392513 337
0.7267791254068292 338
0.7872296223996846 339
0.7058762055160355 340
0.6441456367858465 341
0.7971090755618067 342
0.7989256339832199 343
0.714781253856721 344
0.6516520183959953 345
0.5881426030116182 346
0.6039264078429301 347
0.5986653998994051 348
0.5601020567202861 349
0.8140354129319902 350
0.7840107721291516 351
0.6864336291161652 352
0.548124505525952 353
0.8135413942504645 354
0.6894349210606254 355
0.5722966537790078 356
0.7260272907797005 357
0.678942337944449 358
0.8035434210926926 359
0.5924118645865246 360
0.5653159376974128 361
0.7761500563500204 362
0.5891749833975191 363
0.6607361706168252 364
0.7003498859239803 365
0.7795130263501149 366
0.6624624100629091 367
0.636854742447394 368
0.829941407213252 369
0.5428978675355383 370
0.7089726978943072 371
0.5547966147791354 372
0.7146751147690469 373
0.7296579497419198 374
0.5974021766390818 375
0.5269696446672618 376
0.4759578898989235 377
0.8155330131923978 378
0.7247275912804724 379
0.7671083842987498 380
0.7520739146529637 381
0.6738831195686834 382
0.7048981304456232 383
0.7010287589578669 384
0.7019913185017593 385
0.8208770735113617 386
0.6324528279224846 387
0.6634896616684487 388
0.7386507835037563 389
0.7304375667787573 390
0.6227607552611725 391
0.5672358160629152 392
0.8241941363922114 393
0.5161898675849499 394
0.6730178338160042 395
0.7163374901187227 396
0.6233689463339962 397
0.6742958370389717 398
0.754657819050798 399
0.7819274557700031 400
0.716927269937689 401
0.6695385738249933 402
0.40204292758099913 403
0.7111623177428986 404
0.7830182252324006 405
0.7951122750879287 406
0.4882278597188585 407
0.6294186095554914 408
0.6380836076146581 409
0.7408261833320593 410
0.7310238752383882 411
0.6295122989228478 412
0.6959491423947131 413
0.6167844931732863 414
0.6010602764603106 415
0.6736381540881868 416
0.630728368247185 417
0.8201473242269566 418
0.5170982346599602 419
0.7457308844485613 420
0.7322047356567613 421
0.6134849510216205 422
0.6893731407824837 423
0.6475704837088366 424
0.8024988721198192 425
0.6954575770721201 426
0.7835512244191855 427
0.7852497827055093 428
0.5611812987068716 429
0.6458048528074096 430
0.8111402058247112 431
0.7163597670331153 432
0.563642339302578 433
0.79783562955807 434
0.7192323127186621 435
0.6490441277602859 436
0.671255000776182 437
0.7556502666046168 438
0.7231872359105915 439
0.6743734194598561 440
0.7442982883485016 441
0.8332257984614936 442
0.7465898246549874 443
0.7418702937391826 444
0.6528902708464959 445
0.6810948516073765 446
0.7161564328855795 447
0.7204481712108903 448
0.5652753520564354 449
0.7955352324230462 450
0.7817315464213606 451
0.760612311278261 452
0.6771999948495575 453
0.7288129502301746 454
0.7742785888787678 455
0.5225582054590502 456
0.6524117283498321 457
0.4938359731320938 458
0.7711064789840844 459
0.7376113866321412 460
0.7564728126167375 461
0.6675745947999335 462
0.6726467135587783 463
0.7499884888466752 464
0.7261363065195043 465
0.7860552205904814 466
0.6327459784295897 467
0.6848711613113307 468
0.8122674877582511 469
0.5459320031064416 470
0.7176255025790148 471
0.8126591771828162 472
0.6958499387999781 473
0.7175508056006525 474
0.8239475814046852 475
0.7839251019516384 476
0.7759068445697461 477
0.6968790543511876 478
0.7375958478481905 479
0.7704016904430434 480
0.647750461814566 481
0.7710726555466517 482
0.6968257723984479 483
0.35233096631373284 484
0.776354672735752 485
0.773008799569576 486
0.5804454510011864 487
0.6781879259741888 488
0.5946177256150224 489
0.6581808443085311 490
0.725182449373462 491
0.7518269449412559 492
0.7727635744404725 493
0.7556952614875821 494
0.5426960726100016 495
0.6608596636127977 496
0.5599738505220679 497
0.8339306869785429 498
0.79001362461154 499
0.7844660691925885 500
0.7573544575922895 501
0.6497991531773861 502
0.6330203750426886 503
0.760752554507018 504
0.7375654746603268 505
0.7671179530115936 506
0.7231362332082916 507
0.7532219483006956 508
0.6573645664993445 509
0.7553284316623778 510
0.8160661478138281 511
0.813849849070367 512
0.776514451742399 513
0.7672783642467103 514
0.7436513344364423 515
0.7056740747279586 516
0.6404611879515223 517
0.7820014883070927 518
0.8045244712621319 519
0.763518769378507 520
0.5666595955435619 521
0.6746687083622369 522
0.6768271689571654 523
0.6853785735201793 524
0.7755938870027652 525
0.4806005856259514 526
0.5507495309452708 527
0.8066787359558883 528
0.4435187544370266 529
0.6858317500970669 530
0.6249138025753523 531
0.4338764639562248 532
0.6724213141035075 533
0.83975012952212 534
0.709392976942604 535
0.5268077298304072 536
0.6660497071162967 537
0.7840321268609349 538
0.6501122407772533 539
0.7391066756289035 540
0.8126286630497421 541
0.6591169940690628 542
0.5842376403914691 543
0.6039931637457601 544
0.6760745554970067 545
0.7121369026642048 546
0.7094854141796967 547
0.7768720383538658 548
0.7680191681089956 549
0.5696155478917693 550
0.6471964596483074 551
0.6047442297667031 552
0.7152029272500846 553
0.5869981775772011 554
0.6691715094757695 555
0.5943089732237536 556
0.6707011082996177 557
0.5319394297351179 558
0.7226786549171749 559
0.5464488017644391 560
0.7442163175340433 561
0.756324243542094 562
0.5355278413781308 563
0.7303245697383397 564
0.5289672734555346 565
0.4114366242607608 566
0.7078371529082507 567
0.6633360454757575 568
0.6642350480043545 569
0.8339990516835403 570
0.6002033948949745 571
0.4614824819359725 572
0.7468608328849249 573
0.8191657635271076 574
0.7329980978842684 575
0.7546469250949658 576
0.7757629170774534 577
0.7375901956471926 578
0.756762814023207 579
0.6909621010200337 580
0.5725978239449703 581
0.7206070921466997 582
0.760571453675005 583
0.664965179988708 584
0.865014293773819 585
0.45931981074859574 586
0.7801707910422553 587
0.5878103755988389 588
0.6747754158682692 589
0.7120937023985181 590
0.44820459936748136 591
0.7520738543330292 592
0.7688383794462426 593
0.7465498863126288 594
0.7394854204425215 595
0.4946639580278541 596
0.5330390514666997 597
0.7154207078812977 598
0.753958525587836 599
0.8051389416413424 600
0.7801418261244611 601
0.7877364845547621 602
0.666916946108143 603
0.6487571445482396 604
0.7232279129092395 605
0.7501618715075717 606
0.582476008988285 607
0.7261450231291151 608
0.5668602976669236 609
0.7672451683587321 610
0.6574717351632264 611
0.7703030388274643 612
0.7974250865415693 613
0.6813056025128543 614
0.6072563131105952 615
0.6708717416124114 616
0.746974483962356 617
0.6938346055555069 618
0.7662403633869307 619
0.7182700266696344 620
0.8148265631433298 621
0.7428436777456628 622
0.6130092499584914 623
0.6776398956213785 624
0.551309254129368 625
0.6937547998587608 626
0.7409168827293302 627
0.6998593369252335 628
0.7294799473774285 629
0.6874195422284439 630
0.6202920318982217 631
0.6242557068473724 632
0.5600631687607522 633
0.7471478872318968 634
0.7727280786422857 635
0.8213276650283199 636
0.5860047120062812 637
0.5689927345332747 638
0.7187131783423628 639
0.6538224840129399 640
0.7499788582522395 641
0.7365781180097205 642
0.5435478450050697 643
0.6340555994027475 644
0.5909604716510553 645
0.5898986650474558 646
0.5657005824878081 647
0.5286930579176543 648
0.7495413160969776 649
0.7460705808901629 650
0.6601128607351753 651
0.5371754436117415 652
0.6117224555798267 653
0.6769606407955803 654
0.5474639029343153 655
0.7458787912800037 656
0.6683330455175234 657
0.7499519066501372 658
0.7553807022742312 659
0.6574667905233218 660
0.7267398119260268 661
0.650237307195163 662
0.7465994489233756 663
0.705520304641555 664
0.7231613240527385 665
0.7080751621911886 666
0.5529010048322374 667
0.765798843606216 668
0.6912291743472162 669
0.6692873621220168 670
0.5855518993656537 671
0.7753332568459008 672
0.7106227547025346 673
0.7443198260883755 674
0.5271528565329875 675
0.6337807549743241 676
0.676574186790794 677
0.7384915648089866 678
0.5555108561537567 679
0.6555936866230387 680
0.7083977475251064 681
0.7131363051814792 682
0.6084793378513119 683
0.6865842775071213 684
0.7657432150136104 685
0.690436350637595 686
0.7004650620017432 687
0.6736194495376682 688
0.6767894743651484 689
0.5886299938160189 690
0.7158626956038645 691
0.6770354002898914 692
0.7394724447889722 693
0.7730281298658384 694
0.5664905093311979 695
0.7163218811543559 696
0.6469305463595603 697
0.7388068183787362 698
0.7636120559185801 699
0.8105522448394351 700
0.7673104957814268 701
0.5007932720299244 702
0.6783261004421037 703
0.7410968128505471 704
0.7339165414230173 705
0.7478720603304834 706
0.6832067207734025 707
0.766524770692962 708
0.4901742343614294 709
0.7111071545101338 710
0.841313532852944 711
0.7372467312649382 712
0.7596978145215383 713
0.7541470348333743 714
0.6700995706894772 715
0.5316378295791431 716
0.5895657190227376 717
0.860321065242322 718
0.6333325850861735 719
0.7492219548069026 720
0.5417295265677198 721
0.6691531857724566 722
0.6827270288637503 723
0.616658411426475 724
0.7636511277128027 725
0.6923949632323219 726
0.5426041684362465 727
0.5688706422888579 728
0.6918804767707792 729
0.7670923195361966 730
0.643213867704939 731
0.5665086277795134 732
0.7143497449729259 733
0.7327365506080166 734
0.7627392094021238 735
0.7513285753342482 736
0.7722370738095516 737
0.6263414781251193 738
0.7420280678269088 739
0.5694536359763349 740
0.8087710165718182 741
0.6963128585171559 742
0.7147833295320183 743
0.8585911238608361 744
0.6239599912208125 745
0.7920921066481763 746
0.6941467986006542 747
0.7726835777424661 748
0.6371021711761605 749
0.6531062561501468 750
0.7704797988447935 751
0.7715592966828526 752
0.5819110059323328 753
0.6744184108564732 754
0.5234768022114838 755
0.7122955330526475 756
0.7834537408341548 757
0.7693079838558159 758
0.7476590651222901 759
0.8159964230503458 760
0.6927937677661375 761
0.861628417612335 762
0.7287869475065578 763
0.7353679170532703 764
0.671384539568834 765
0.7235915113562832 766
0.611646482229154 767
0.7114455221463151 768
0.7007927865448472 769
0.6479530038815502 770
0.7601012388408577 771
0.870200258965921 772
0.7870682106062651 773
0.6048232943415899 774
0.705121168510545 775
0.8026883167291139 776
0.5360061946247531 777
0.7518391784986284 778
0.7995059706272369 779
0.7060390798161753 780
0.6534911507021925 781
0.5126343205053825 782
0.5974879726965359 783
0.8346090289480567 784
0.7770299264290358 785
0.6877548513910261 786
0.4810044299259256 787
0.7496750845020131 788
0.544762600601308 789
0.4693288410650769 790
0.813148370234594 791
0.7347992392463141 792
0.7863861004584274 793
0.5904855027740986 794
0.7903381157188765 795
0.7000922441923664 796
0.6022408763331152 797
0.7351405779901069 798
0.6072754926209788 799
0.6730572715848213 800
0.7331116506590611 801
0.5642540926079034 802
0.7771254583346926 803
0.63094324156523 804
0.6149876029022645 805
0.7444664536545742 806
0.6512438427367309 807
0.5409256902626475 808
0.7084573041057802 809
0.7378087750133622 810
0.713117931451897 811
0.7173298187816477 812
0.5994918904118945 813
0.6105386809162237 814
0.6706745695919474 815
0.7954123672029827 816
0.8441266125789092 817
0.650058406121963 818
0.5504575591954749 819
0.750140958215714 820
0.580910585696174 821
0.7933224835469374 822
0.616717606004819 823
0.6935979179105368 824
0.6942200036863346 825
0.7273817548084021 826
0.577649078008701 827
0.6625280858400631 828
0.7601689184437785 829
0.4668932136318992 830
0.7247774705049022 831
0.7333404527530079 832
0.7035325744623081 833
0.5164742586795605 834
0.779565808133334 835
0.7661103997381575 836
0.6634400247835284 837
0.8128140552916227 838
0.5898046709890402 839
0.6730839419788364 840
0.5507648205406324 841
0.7290540130498475 842
0.7504217607231609 843
0.7237011256683661 844
0.7885498590480768 845
0.6671222990793211 846
0.579700481757004 847
0.7958561702441 848
0.6137970809549784 849
0.6242157261938 850
0.6218248558150625 851
0.7154853673035961 852
0.81446731128768 853
0.5635972286995263 854
0.6882523620532822 855
0.8173760426443084 856
0.8459718608629578 857
0.7247128324971952 858
0.6059322853913155 859
0.6071046404189397 860
0.7650958317300077 861
0.6530277207371362 862
0.8302775580448833 863
0.7037285288596531 864
0.6430009240148087 865
0.5409309202539607 866
0.4980271968512715 867
0.7457319640372906 868
0.6425891041318108 869
0.7802925123321859 870
0.6587722072533195 871
0.7878062117681798 872
0.711989264825406 873
0.5615998223983616 874
0.748279457966986 875
0.6024358638486282 876
0.664298373184582 877
0.7799956915782928 878

In [ ]:
import numpy as np
np.argmax(scores)

772

In [ ]:
scores[np.argmax(scores)]

0.870200258965921

In [ ]:
 X_train,X_test,y_train,y_test=train_test = train_test_split(X,y,test_size=0.2)
 lr = LinearRegression()
 pipe=make_pipeline(column_trans,lr)
 pipe.fit(X_train,y_train)
 y_pre = pipe.predict(X_test)
 r2_score(y_test,y_pre)

0.7358200792393421

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe,open('car_model','wb'))

In [ ]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))

array([410078.37690953])